.workdescription-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.workdescription-container .workdescription-card {
  
  text-align: center;
  border-color: white;
}

.workdescription-container .icon-card{
  color: rgb(35, 183, 164);
  padding-top: 20px;
  padding-bottom: 20px;
}